:root {
    --clr-cyan: hsl(180, 66%, 49%);
    --clr-violet: hsl(257, 27%, 26%);
    --clr-red: hsl(0, 87%, 67%);
    --clr-gray: hsl(0, 0%, 75%);
    --clr-grayishviolet: hsl(257, 7%, 63%);
    --clr-blue: hsl(255, 11%, 22%);
    --clr-darkviolet: hsl(260, 8%, 14%);
}