@use 'main' as *;

.settings {
    @include display(none, 48px, center, center);
    flex-direction: column;
    margin-top: 24px;
    padding: 1.429rem 1.071rem;
    padding-inline: clamp(1.071rem, -2.5006666666666666rem + 15.874074074074073vw, 11.786rem);
    @media (min-width: 768px) {
        flex-direction: row;
        gap: 30px;
        align-items: flex-start;
    }
    &__section1 {
        @include display(grid, 16px);
        width: 100%;
        flex: 1;
        h3 {
            font-weight: 600;
        }
    }

    &__option {
        @include display(flex, 12px, center);
        border: 1px solid var(--clr-lightGray2);
        border-radius: 16px;
        padding: 16px;
        cursor: pointer;

        &:hover, &:focus {
            border-color: var(--clr-blue);
            
            div:first-child {
                background-color: var(--clr-blue);
            }
        }

        &__wrapper {
            @include display(grid, center, space-between);
        }
        div:first-child {
            width:2.857rem;
            height:2.857rem;
            border-radius: 12px;
            background-color: var(--clr-lightGray2);
            @include display(flex, 0, center, center);
            img {
                width: 20px;

            }
        }

        h5 {
            font-size: 1rem;
            font-weight: 700;
        }

        span {
            font-size: 0.929rem;
            color: var(--clr-darkGray);
        }
    }

    &__section2 {
        @include display(grid, 16px);
        width: 100%;
        flex: 1.5;

        &__wrapper {
            @include display(grid, 68px);
            border: 1px solid var(--clr-lightGray2);
            padding: 20px 16px;
            border-radius: 16px;

            &__wrapper {
                @include display(grid, 16px);

                .giddy {
                    @include display(grid, 8px);
                    
                    span {
                        font-size: 0.857rem;
                        font-size: 600;
                        color: var(--clr-grayBlue);
                    }
                }
                &__profileChange {
                    @include display(flex, 16px, center);

                    #changeBtn, #removeBtn {
                        padding: 12px 16px;
                        border-radius: 8px;
                        font-size: 1rem;
                        font-weight: 700;
                        color: var(--clr-grayBlue);
                        border: 1px solid transparent;

                        &:hover {
                            transform: scale(1.01);
                            box-shadow: 0 4px 6px rgba(0,0,0,0.2);
                        }
                    }
                    #changeBtn {
                        border-color: var(--clr-blue);
                        color: var(--clr-blue);
                    }
                    img {
                        width: 6.286rem;
                        margin-right: 8px;
                    }
                }
            }

            &__wrapper2 {
                @include display(grid, 42px);

                &__wrapper {
                    @include display(grid, 16px);

                    .lebron {
                        @include display(grid, 24px, center);

                        @media(min-width: 768px) {
                            grid-template-columns: repeat(2, 1fr);
                        }

                        input[type="checkbox"] {
                            transform: scale(1.5);
                        }
                    }
                }
            }
        }

    }

    .settings__title {
        font-size: 1.286rem;
        font-weight: 600;
    }

    #settings-form {
        @include display(grid, 32px, center);

        @media(min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        input {
            padding: 12px;
            border: 1px solid var(--clr-gray);
            border-radius: 8px;
            color:var(--clr-black);
            font-size: 1rem;
        }
        label {
            font-size: 0.857rem;
            font-weight: 700;
            color: var(--clr-darkGray);
        }
    }

    .curry {
        @include display(flex, 40px, center, center);
        flex-direction: column;

        @media(min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }

        #logoutBtn, #discardBtn, #saveBtn {
            &:hover {
                transform: scale(1.01);
                box-shadow: 0 4px 6px rgba(0,0,0,0.2);
            }

            transition: transform 0.3s ease;
        }

        #logoutBtn {
            width: 100%;
            margin: auto;
            border: 1px solid var(--clr-orange1);
            color: var(--clr-orange1);
            font-weight: 600;
            padding: 12px 16px;
            border-radius: 8px;

            @media(min-width: 768px) {
                width: 7rem;
            }
        }


        .settings__btns {
            @include display(flex, 16px, center);
            @media(min-width: 768px) {
                justify-content: flex-end;
            }
            width: 100%;
            & > * {
                padding: 12px 16px;
                border-radius: 8px;
                font-size: 1rem;
                font-weight: 600;

                
            }

            #discardBtn {
                width: 100%;
                border: 1px solid var(--clr-grayBlue);
                color: var(--clr-grayBlue);

                @media(min-width: 768px) {
                    width: max-content;
                }
            }
            #saveBtn {
                width: 100%;
                color: var(--clr-white);
                background-color: var(--clr-blue);

                @media(min-width: 768px) {
                    width: max-content;
                }
            }
        }
    }

}