.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

    &__list {
        display: flex;
        align-items: center;
        gap: 2rem;
        letter-spacing: 0.1rem;
        font-size: 0.7rem;

        li:hover {
            color: var(--clr-red);
        }
        button {
            border: 2px solid transparent;
            padding: 0.5rem 2rem;
            border-radius: 5px;
            background-color: var(--clr-red);
            color: white;

            &:hover {
                border-color: var(--clr-red);
                background-color: white;
                color: var(--clr-red);
            }
        }
    }
}