.container {
    padding-inline: 1.5rem;

    @media(min-width: 768px) {
        padding-inline: 2rem;
    }

    @media(min-width: 1024px) {
        padding-inline: 3rem;
    }

    @media(min-width: 1220px) {
        padding-inline: 4rem;
    }

    @media(min-width: 1440px) {
        padding-inline: 5rem;
    }
}