@mixin display($display, $gap: 0, $align: normal, $justify: normal, $text-align: normal) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
    text-align: $text-align;
}

.navbar, main {
    @media(min-width: 768px) {
        padding-inline: 60px !important;
    }
    
}

.navbar {
    position: sticky;
    @include display(flex, 0, center, space-between);
    padding: 30px 15px;
    background-color: var(--clr-element);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

    #toggle__theme {
        display: flex;
        gap: 0.2rem;
        font-size: 0.9rem;
        font-weight: 600;
        transition: transform 0.3 ease;
        color: var(--clr-text);

        &::before {
            content: url('/rest-countries-api-with-color-theme-switcher-master/images/moon.svg');
            position: relative;
            z-index: 999;
            width: 0.9rem;
            top: 2px;
            left: -5px;
            
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    @media(min-width: 768px) {
        padding: 15px 60px;
    }
}

.main__wrapper {
    @include display(grid, 2rem, center);

    @media(min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}

.main__details {
    @media(min-width: 768px) {
        gap: 4rem;
        margin-top: 3rem;
    }
}

main {
    padding: 20px 15px;
    background-color: var(--clr-bg);
    display: grid;
    gap: 2rem;
    width: 100%;

    #search {
        width: 100%;
        background-color: var(--clr-element);
        color: var(--clr-input);
        padding: 0.8rem 0.5rem;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;

        background-image: url('/rest-countries-api-with-color-theme-switcher-master/images/search.svg');
        background-position: left 1.5rem center;
        background-repeat: no-repeat;
        background-size: 1rem;

        padding-left: 4rem;
        font-size: 0.8rem;
        color: var(--clr-input);

        @media(min-width: 768px) {
            padding-right: 9rem;
        }
    }

    select {
        max-width: 10rem;
        padding: 0.8rem 1rem;
        border: none;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        background-color: var(--clr-element);
        color: var(--clr-text);
        option {
            border: none;
            color: var(--clr-text)
        }
    }

    .countries {
        @include display(flex, 2rem, center, center);
        flex-direction: column;

        @media(min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(auto-fit, 17.6rem);
            gap: 4rem;
        }
    }

    .country {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        cursor: pointer;
        max-width: 320px;
        max-height: 383px;
        margin: auto;
        background-color: var(--clr-element);

        img {
            aspect-ratio: 16 / 11;
            object-fit: cover;
            width: 100%;
        }
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05)
        }
    }

    .wrapper {
        @include display(grid, 0.7rem);
        padding: 2rem 1.5rem;
    }
}

#back {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    width: min-content;
    padding: 0.2rem 1.3rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: var(--clr-text);
    &::before {
        display: inline-block;
        content: url('/rest-countries-api-with-color-theme-switcher-master/images/arrow.svg');
        width: 1rem;
        margin-top: 5px;
    }
}

.country__details {
    @include display(grid, 2rem, center, center);
    max-width: 100%;


    gap:  clamp(2rem, 0.591549295774648rem + 6.009389671361502vw, 6rem);

    @media(min-width: 768px) {
        grid-template-columns: 1fr 1.5fr;
        justify-content: left;
    }

    .wrapper__details {
        display: grid;
        gap: 1rem;
        width: 100%;
        max-width: 30rem;

        @media(min-width: 768px) {
            gap: 2rem;
            max-width: 100%;
            font-size: clamp(0.7rem, 0.3571428571428571rem + 0.7142857142857143vw, 1rem);
        } 
    }

    .ul__wrapper {
        display: flex;
        flex-direction: column;
        gap:  clamp(2rem, 0.591549295774648rem + 6.009389671361502vw, 6rem);

        @media(min-width: 768px) {
            flex-direction: row;
        }
    }

    .border__countries {
        @include display(flex, 0.7rem);
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;

        @media(min-width: 1040px) {
            flex-direction: row;
            align-items: center;
            font-size: clamp(0.7rem, 0.3571428571428571rem + 0.7142857142857143vw, 1rem);
        }

        &__info {
            flex-grow: 1;
            display: grid;
            gap: 0.8rem;
            grid-template-columns: repeat(auto-fit, 7rem);
            grid-template-rows: repeat(4, min-content);
            text-align: center;

            span {
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
                padding: 0.4rem;
                width: 7rem;
                height: min-content;
                color: var(--clr-text);
                font-weight: 300;
                background-color: var(--clr-element);
            }
        }
    }

    img {
        width: 100%;
        min-width: 20rem;
        max-width: 30rem;
        object-fit: cover;
        aspect-ratio: 16/11;
    }
    
}