:root {
    --clr-gray: #C7C8D2;
    --clr-blue: #4E60FF;
    --clr-blueHover: #697BFF;
    --clr-darkGray: #545563;
    --clr-black: #2B2B43;
    --clr-grayBlue: #83859C;
    --clr-white: #FFFFFF;

    --clr-orange: #FD6D22;
    --clr-orange1: #FF5C60;
    --clr-lightGray: #FFF3ED;
    --clr-lightGray1: #F3F4FF;
    --clr-lightGray2: #F8F9FF;
    --clr-darkGray1: #83859C;
    --clr-lightGray2: #EDEEF2;



}